{% extends "base.html" %}

{% load static %}

{% block body_class %}
	{{ block.super }} home
{% endblock body_class %}

{% block body %}
	<div id="container">
<!--		
		<div class="listing listing-portrait" id="M34048-04409">
			<div class="price">$579,000</div>
			<div class="photo">
				<img src="/content/M34048-04409.jpg" />
			</div>
			<div class="address">10 Wales Pl, Mount Vernon, NY</div>
			<div class="description">
				Stately Center Hall Colonial In The Heart Of 10552
			</div>
			<div class="author">Christopher M. Pagli</div>
		</div>
-->
		{% for listing in listings %}
		<div class="listing listing-portrait rounded shadow" id="{{ listing.id }}">
			<div class="photo top-rounded">
				<img src="{{ MEDIA_URL }}{{ listing.id }}.jpg" />
			</div>
			<div class="listing-body bottom-rounded">
				<div class="price">${{ listing.price }}</div>
				<div class="address">{{ listing.address }}</div>
				<div class="description">{{ listing.description }}</div>
				<div class="author">{{ listing.author }}</div>
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock body%}


{% block additional_js %}
	<script src="{% static "js/lib/masonry/masonry-3.1.4.min.js" %}"></script>
	<script type="text/javascript">
		var container = document.querySelector('#container');
		var msnry = new Masonry( container, {
		  // options
		  columnWidth: 300,
		  itemSelector: '.listing',
		  gutter: 10
		});
	</script>
{% endblock additional_js %}